# Data structure

### 1.write a code to create a string with your name and print it.

In [88]:

# create a string with my name
name = "ANURAG"
# print the string
print("My name is", name)

My name is ANURAG

### 2.write a code to find the length of the string " hello world ".

In [89]:

# create the string
text = "HelloWorld"

# Finding and printing the length
length = len(text)
print("The length of the string is:", length)

The length of the string is: 10

### 3. write a code to slice the first 3 characters from the string python programing

In [90]:
# create the string
text = "python programming"
# slice the first three characters
sliced = text [:3]

# print the result
print ("first three characters are:", sliced)

first three characters are: pyt

### 4. write a code to convert the string " Hello "  to uppercase.

In [91]:
# origional string
original_string = " hello"

# convert to uppercase
uppercase_string = original_string.upper()

# print the result
print("Original string:", original_string)
print("Uppercase string:", uppercase_string)

Original string:  hello
Uppercase string:  HELLO

###5. write a code to replace the word " apple " with " oranges" in the string " i like apple ".

In [92]:
# original string
sentence = " I like aplle"

# Replace " apple " with " oramge"
new_sentence = sentence.replace("apple", "orange")

# print the result
print("Original sentence:", sentence)
print("New sentence:", new_sentence)

Original sentence:  I like aplle
New sentence:  I like aplle

###6.  write a code to create a list with numbers 1 to 5 and print it.

In [93]:
# create a list with number 1 to 5
numbers = [1, 2, 3, 4, 5]

# print the list
print(numbers)

[1, 2, 3, 4, 5]

### 7. write a code to append the number 10 to the list [1,2,3,4].

In [94]:
# Initial list
my_list = [1, 2, 3, 4]

# Append 10 to the list
my_list.append(10)

# Print the updated list
print(my_list)

[1, 2, 3, 4, 10]

###8. write a code to remove the number 3 from the list [1,2,3,4,5].

In [95]:
# orignal list
my_list = [1,2,3,4,5]

# Remove the number 3 from the list
my_list.remove(3)

# Print the updated list
print(my_list)

[1, 2, 4, 5]

###9. write a code to access the second element in the list ['a','b','c','d'].

In [96]:
# Define the list
my_list = ['a', 'b', 'c', 'd']

# Access the second element in the list
second_element = my_list[1]

# Print the second element
print(second_element)

b

###10.write a code to reverse the list [10,20,30,40,50].

In [97]:
# original listy
original_list =[10,20,30,40,50]

#reverse the list
reversed_list = original_list[::-1]

# print the reversed list
print("Original list:", original_list)
print("Reversed list:", reversed_list)

Original list: [10, 20, 30, 40, 50]
Reversed list: [50, 40, 30, 20, 10]

###11. write a code to create a tuple with the elements 100.200,300 and print it.

In [98]:
# create a tuple with the specified elements
my_tuple = (100, 200, 300)

# print the tuple
print(my_tuple)

(100, 200, 300)

###12.write a code to access the second to last element of the tuple ('red','green','blue','yellow').

In [99]:
# Define the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access the second to last element of the tuple
second_to_last_element = colors[-2]

# Print the second to last element
print(second_to_last_element)
#

blue

###13. write a code to find the minimum numbers in the tuple (10,20,5,15).

In [100]:
# Define the tuple
numbers = (10,20,5,15)

# Find the minimum  number using min() function
minimum_number = min(numbers)

# Print the minimum number
print(minimum_number)

5

###14. write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit').

In [101]:
# Define the tuple
animals = ('dog', 'cat', 'rabbit')

# Find the index of the element "cat"
index = animals.index('cat')

# Print the index
print(index)

1

###15.write a code to create a tuple containing three different fruits and checks if "kiwi" is in it.

In [102]:
# create a tuple with three different fruits
fruits = ("apple", "banana", "orange")

# check if "kiwi" is in the tuple
if "kiwi" in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

###16. write a code to create a set with the elements 'a','b','c' and print it.

In [103]:
#create a set with the specified elements
my_set = {'a', 'b', 'c'}

# print the set
print(my_set)

{'b', 'c', 'a'}

###17. write a code to clear all elements from the set {1,2,3,4,5}.

In [104]:
#create the set
my_set = {1, 2, 3, 4, 5}

# clear all elements from the set
my_set.clear()

# print the set
print(my_set)

set()

###18. write a code to remove the element 4 from the set {1,2,3,4}.

In [105]:
# create the set
my_set ={1,2,3,4}

# remove the element 4
my_set.remove(4)

# print the set
print(my_set)

{1, 2, 3}

###19. write a code to find the union of two sets{1,2,3} and {3,4,5}.

In [106]:
# define the two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# find the union of the two sets
union_set = set1.union(set2)

# print the union set
print(union_set)
#

{1, 2, 3, 4, 5}

###20. write a code to find the intersection of two sets {1,2,3} and {2,3,4}

In [107]:
# define the two sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# find the intersection of the two sets
intersection_set = set1.intersection(set2)

# print the intersection set
print(intersection_set)

{2, 3}

###21. write a code to create a dictionary with keys"name", "age" and "city", and print it.

In [108]:
# create the dictionary
person = {
    "name": "ANURAG",
    "age": 25,
    "city": "Ranchi"
}

# print the dictionary
print(person)

{'name': 'ANURAG', 'age': 25, 'city': 'Ranchi'}

###22. write a code to add a new key-value pair " country". "USA" to the dictinary {'name':'john','age':25}

In [109]:
# original dictionary
person = { 'name':'john','age':25}

# add a new key-value pair
person['country'] = 'USA'

# print the updated dictionary
print(person)

{'name': 'john', 'age': 25, 'country': 'USA'}

###23. write a code to access the value associated with key "name"in the dictionary ['name':'Alice','age':30]

In [110]:
#Dictionary
person = {'name':'Alice','age':30}

# Access the value associated with key "name"
name_value = person['name']

# Print the value
print(name_value)

Alice

###24. write a code to remove the key "age" from the dictionary ['name:''Bob','age':22,'city': 'New York'].

In [111]:
 #original dictionary
person ={'name':'Bob','age':22,'city': 'New York'}

# remove the key "age"
person.pop('age',None)

# print the updated dictionary
print(person)

{'name': 'Bob', 'city': 'New York'}

###25. write a code to check if the key "city" exists in the dictionary {'name':'Alice','city':'paris"}

In [112]:
# Dictionary
person = {'name':'Alice','city':'paris'}

# Check if the key "city" exists in the dictionary
if 'city' in person:
    print("The key 'city' exists in the dictionary")

The key 'city' exists in the dictionary

###26. write a code to create a list, a tuple, and a dictionary ,and print them all.

In [113]:
# create a list
my_list = [1,2,3,4,5]

# createa tuple
my_tuple =(10,20,30,40,50)

#create a dictionary
my_dict = {'a':1, 'b':2, 'c':3}

# print all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'a': 1, 'b': 2, 'c': 3}

###27. write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [114]:
import random

# create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# sort the list in ascending order
random_numbers.sort()

# print the result
print("Random numbers:", random_numbers)

Random numbers: [19, 43, 61, 72, 99]

###28. write a code to create a list with strings and print the element at the third index.

In [115]:
# create a list of strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# print the element at the third index
print(string_list[2])

cherry

###29. write  a code to combine two dictionaries into one and print the result .

In [116]:
# combine two dictionaries and print the result
#first dictionaries
dict1 ={'a':1,'b':4}
#second dictionaries
dict2 ={'c':3,'d':5}

# combine the dictionaries
combined_dict = {**dict1, **dict2}

# print the combined dictionary
print(combined_dict)

{'a': 1, 'b': 4, 'c': 3, 'd': 5}

###30. write a code to convert a list of strings into a set.

In [117]:
# convert a list of strings into a set
# define a list of strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# convert the list to a set to remove duplicates
string_set = set(string_list)

# print the  original list and the resulting set
print("original list :",string_set)
print("converted set", string_set)

original list : {'elderberry', 'banana', 'cherry', 'apple', 'date'}
converted set {'elderberry', 'banana', 'cherry', 'apple', 'date'}